  html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0;

  }

  #map { 
    height: 100%; 
  }

  #search {
    width: 80%;
    font: 25px Arial, sans-serif;
    background-color: #F8F8FF; 
  }


  #info-window {
    text-align: center; 
    max-width: 250px; 
    min-width: 250px;
    min-height: 260px;
  }


  .options-box {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #999;
    border-radius: 10px;
    line-height: 35px;
    text-align: left;
    width: 260px;
    height: 90%;
    position: absolute; 
    z-index: 2; 
    font-family: Helvetica;
    text-transform: uppercase; 
    text-align: center; 
    overflow: auto; 
    transform: translate(5px, 5px);
    transition: transform 0.3s ease;
  }

  h1 {
    font-weight: 200px; 
    font-size: 18px; 
    color: #eeffea;
  }

  #windowHeader {
    font-size: 18px; 
  }

  #windowImg {
    width: 100px;
    height: 100px;
    display: none;
    margin: auto;
  }

  #windowImg[src] {
   display: block;
 }

  .windowText {
    font-size: 14px; 
  }


  ul {
    list-style: none; 
    padding: 0;
    margin: 0;
  }

  li {
    color: white;
    font-size: 14px;
    font-weight: 100;
    padding: 2px;  
  }

  li:hover {
    font-weight: 500;
    color: #f9e8d4;  
  }

 
  #burger {
    z-index: 5; 
    top: 10px; 
    left: 270px;
    position: absolute;
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
]

